version: '3.8'

services:
  musicmate-api:
    image: musicmate-api
    build:
      context: ./backend      
      dockerfile: Dockerfile
    ports:
      - "8080:8080"           
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
    networks:
      - musicmate-network

  musicmate-web:
    image: musicmate-web
    build:
      context: ./frontend/musicmate.client 
      dockerfile: Dockerfile
    ports:
      - "3000:80"             
    depends_on:
      - musicmate-api        
    networks:
      - musicmate-network

networks:
  musicmate-network:
    driver: bridge